<div>
  <h1>Main Page</h1>
  <% if user_signed_in? %>
    <%= button_to("Sign out", destroy_user_session_path, class: '', method: :delete ) %>
  <% else %>
    <%= button_to("Log in", new_user_session_path, class: '' )%>
  <% end %>
</div>
