* {
  transition: 0.3s;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 
.card:hover {
  transform: scale(1.05);
}

.image-caption {
  position: relative;
  background: #000000a0;
  padding: 3rem;
  margin-top: -205px;
  color: white;
}

.image-caption h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.image-caption p {
  font-size: 1.5rem;
}

.image-container:hover .image-caption {
  background: #000000e0;
}

.navbar-brand {
  color: white !important;
}

.bg-primary {
  background-color: #2786c5 !important; 
}

.btn-primary {
  background-color: #2786c5 !important; 
  border-color: #2786c5 !important;
}

.card {
  width: 360px;
  text-align: center;
}

.btn-group {
  width: 200px;
}

@media (max-width: 991px) {
  .navbar-collapse form a {
    display: block;
    margin: 12px 0;
  }

  .image-caption {
    padding: 1rem;
    margin-top: -142px;
  }
  
  .image-caption h1 {
    font-size: 2.5rem;
  }
  
  .image-caption p {
    font-size: 1.3rem;
  }
}

